# Dependencies
/node_modules

# Local Environment Variables
.env.local
.env

# Build output
/.next/
/out/

# Genkit trace files
/.genkit/

# Log files
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Other
.DS_Store
*.pem
